<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ pageTitle }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:opsz,wght@18..144,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="font_I">
    <header>
        <nav>
            <ul>
                <li><a href="/">HOMEPAGE</a></li>
                <li><a href="/admin/add-product">ADD PRODUCT</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>PRODUCTS</h1>
        <div class="products-container">
        {{#if hasProducts}}
            <div class="product-grid">
                {{#each products}}
                <div class="product-item">
                    <h3 class="product-title">{{this.title}}</h3>
                    <div class="product-info">
                        <p class="product-description">{{this.description}}</p>
                        <div class="product-price">{{this.price}}</div>
                    </div>
                    <div class="product-actions">
                        <a href="#">VIEW DETAILS</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{else}}
        <p class="no-products">
            No products found. Add some products to see them listed here.
        </p>
        {{/if}}
    </main>
</body>

</html>